<terminal>
  <ul class='terminal-links'>
    <li>
      <a routerLink='/cv/technical-skills' class='terminal-link'>> Technical Skills</a>
    </li>
    <li>
      <a href="#" class='terminal-link'>> Areas of Interests</a>
    </li>
    <li>
      <a href="#" class='terminal-link'>> Current Occupation</a>
    </li>
    <li>
      <a href="#" class='terminal-link'>> Past Work Experiences</a>
    </li>
    <li>
      <a href="#" class='terminal-link'>> Projects</a>
    </li>
    <li>
      <a href="#" class='terminal-link'>> Trainings and Seminars attended</a>
    </li>
    <li>
      <a href="#" class='terminal-link'>> Download CV </a>
    </li>
    <li>
      <a href="#" class='terminal-link'>> Back </a>
    </li>
  </ul>
</terminal>