.terminal-container {
  .terminal-links{
    list-style: none;
    .terminal-link{
      &::before{
        content:'> ';
      }
    }
  }
  
  .terminal-link{
    text-decoration: none;
    &:hover, &:active, &:focus{
      background: #00FF37;
      color: black;
    }
  }
  .terminal-header{
    border-style: solid;
    border-width: 0 0 3px 0;
    padding: 10px;
    h1 {
      margin-bottom: 0px;
    }
    a.email{
      text-align: right;
    }
  }
  .terminal-body{
    // padding: 10px; 
  }
  .terminal-footer{

  }
}