<div class="terminal-container">
  <div class='terminal-header'>
    <terminal [displayCursor]=false [writeDelay]=20>
      <h1>Ram Angelo Cañeda</h1>
      <a href="mailto: ramcaneda@live.com">ramcaneda@live.com</a>
    </terminal>
  </div>
  <div class='terminal-body'>
    <terminal [displayCursor]=false [writeDelay]=20>
      <ul class='terminal-links'>
        <li>
          <a href="#" class='terminal-link'>> Technical Skills</a>
        </li>
        <li>
          <a href="#" class='terminal-link'>> Areas of Interests</a>
        </li>
        <li>
          <a href="#" class='terminal-link'>> Current Occupation</a>
        </li>
        <li>
          <a href="#" class='terminal-link'>> Past Work Experiences</a>
        </li>
        <li>
          <a href="#" class='terminal-link'>> Projects</a>
        </li>
        <li>
          <a href="#" class='terminal-link'>> Trainings and Seminars attended</a>
        </li>
        <li>
          <a href="#" class='terminal-link'>> Download CV </a>
        </li>
        <li>
          <a href="#" class='terminal-link'>> Back </a>
        </li>
      </ul>
    </terminal>

  </div>
  <div class='terminal-footer'>
    <terminal [displayCursor]=true [writeDelay]=20>
      >
    </terminal>
  </div>
</div>
<!-- <terminal>Hi! My name is Ram.||
&nbsp;
I'm a programmer, currently working for Katana Techworks Inc.||
&nbsp;
This page is still under construction but you can reach me at   
</terminal> -->