/* You can add global styles to this file, and also import other style files */
$container-padding: 50px;
$container-padding-small: 5px;
$terminal-border-size: 10px;

html, body{
  height: 100%;
  margin: 0;
  background: black;
  color: #00FF37;
  font-family: monospace;
  border: beige;
}
a {
  color: #00FF37
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
  .container {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    padding: $container-padding;
    @media screen and (max-width: 500px) {
      padding: $container-padding-small;
    }
    .terminal-border{
      flex: 1 1 auto;
      display: flex;
      flex-flow: column;
      background: #0a0a0a;
      // border: 1px solid black;
      border-radius: 25px;
      // position: relative; //clipping for crt lines. would slow down app when on desktop screens
      // overflow: hidden; 
      .terminal {
        flex: 1 1 auto;
        padding: 5px;
        background-image: radial-gradient(#383838,#222121,#0a0a0a);
        // border: $terminal-border-size solid transparent;
        border-radius: 10px;
      }
      //crt lines
      &:before{
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
        z-index: 2;
        background-size: 100% 2px, 3px 100%;
        pointer-events: none;
      }
    }
  }
}

.cursor:after{
  content: '█';
  animation: blink 0.4s infinite;
}

@keyframes blink{
  0% {
    content: '';
  }
  100% {
    content: '█';
  }
}
